aiohttp==3.13.3
amcrest==1.9.9
paho-mqtt==2.1.0
aiomqtt==2.5.1
backoff==2.2.1
coloredlogs==15.0.1
flvlib3@https://github.com/zkonge/flvlib3/archive/master.zip
hikvisionapi==0.3.2
packaging==26.0
uiprotect==10.2.3
reolinkapi==0.4.1
websockets==16.0
xmltodict==1.0.4
pytapo==3.4.11
httpx~=0.28.0
yarl~=1.23.0
